
.slideInUp{
  animation-delay: 3s;
  animation-duration: 2s;
}
.slideInDown{
  animation-duration: 2.5s;
  animation-delay:1.5s;
}
body {
  background-image: url(../img/start.png);
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
  font-family: 'Source Code Pro', monospace;
}
#nameInput {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px;
  border-radius: 4px;
  color: lime;
  text-shadow: 0px 0px 4px rgba(0, 255, 0, 0.75);
}

#nameSubmitButton {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px;
  border-radius: 4px;
  color: lime;
  text-shadow: 0px 0px 4px rgba(0, 255, 0, 0.75);
}
.cockpit {
  background-image: url(../img/cockpit.png);
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
}

#displayPanel {
  background-image: linear-gradient(#152224 90%, #020A14);
  position: fixed;
  top: 0;
  margin: center;
  transform: translateX(-50%);
  width: 1050px;
  height: 30px;
  margin: auto;
  margin-bottom: 25px;
  text-align: center;
  background-color: grey;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#money {
  position: fixed;
  left: 25px;
  color: white;
}

#food {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

#reputation {
  position: fixed;
  right: 25px;
  color: white;
}


#screen {
  padding: 15px;
  margin-top: 55px;
  width: 866PX;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.3);
  color: lime;
  text-shadow: 0px 0px 4px rgba(0, 255, 0, 0.75);
}


#controlPanel {
  background-image: linear-gradient(#152224 90%, #020A14);
  position: fixed;
  bottom: 0;
  margin: center;
  transform: translateX(-50%);
  width: 1050px;
  height: 250px;
  margin: auto;
  margin-bottom: 0px;
  text-align: center;
  background-color: grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }

.decisionButtons {
  width: 200px;
  height: 200px;
  color: red;
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 2px gray;
  border-radius: 10px;
  margin:25px;
  display: none;
}
.decisionLeft {
  position: fixed;
  left: 25%;
}

.decisionRight {
  position: fixed;
  right: 25%;
}

.leftDecoButtons {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: rgba(0, 0, 0, 0);
  background-image: repeating-radial-gradient(red 80%, darkred);
}

.farLeft {
  margin-left: 25px;
  margin-top: 30px;
}

.centerLeftTop {
  position: fixed;
  top:30px;
  left: 80px;
  background-image: repeating-radial-gradient(orange 80%, darkorange);
}

.centerLeftBottom {
  position: fixed;
  top: 85px;
  left: 80px;
  background-image: repeating-radial-gradient(orange 80%, darkorange);
}

.centerTop {
  position: fixed;
  top:30px;
  left: 135px;
  background-image: repeating-radial-gradient(yellow 80%, orange);
}

.centerBottom {
  position: fixed;
  top: 85px;
  left: 135px;
  background-image: repeating-radial-gradient(yellow 80%, orange);
}

.centerRightTop {
  position: fixed;
  top: 30px;
  left: 190px;
  background-image: repeating-radial-gradient(lightgreen 80%, green);
}

.centerRightBottom {
  position: fixed;
  top: 85px;
  left: 190px;
  background-image: repeating-radial-gradient(lightgreen 80%, green);
}

.farRightTop {
  position: fixed;
  top: 30px;
  left: 245px;
  background-image: repeating-radial-gradient(blue 80%, darkblue);
}

.farRightBottom {
  position: fixed;
  top: 85px;
  left: 245px;
  background-image: repeating-radial-gradient(blue 80%, darkblue);
}



#selfDestruct {
  background-image: linear-gradient(red, darkred);
  width: 200px;
  height: 100px;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  left: 70px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 1px darkred;
  color: white;
}

#selfDestruct:hover {
  background-image: linear-gradient(darkred, red);
}

#radar {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 120px;
  height: 120px;
  background-image: url(../img/radar.gif);
  background-size: contain;
  border: groove 2px gray;
  border-radius: 100%;
}

#fuelGauge {
  position: fixed;
  right: 140px;
  top: 105px;
}

button {
  box-shadow: 0px 0px 3px black;
}
.displayNone{
  display: none;
}
#dontDeleteThisDiv{
  display: none;
}
.decisionButtons{
  cursor:pointer;
}
.fadeOut{
  animation-duration: 7s;
}
